body {
  color: rgb(54, 69, 79);
  font-family: 'helvetica', sans-serif;
  margin: 0px;
  background-color: rgb(240, 236, 236);
}

h1, h2 {
  text-align: center;
}

h1 {
  color: rgb(66,245,152);
  font-family: 'helvetica', sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

img.profile-img {
  padding: 20px;
  display: block;
  margin: 5px auto;
  border-radius: 130px;
}

p {
  margin: 3vh 3vw;
  color: rgb(54,69,79);
  font-size: 1.25em;
  text-align: center;
}

.page_url {
  text-decoration: underline;
  color: rgb(72,61,139);
}

.name {
  margin: 3vh 3vw;
  color: rgb(54,69,79);
  font-size: 2.5em;
  text-align: center;
}
