h1 {
  color: rgb(66,245,152);
  font-family: 'helvetica', sans-serif;
}

body {
  color: rgb(54, 69, 79);
  font-family: 'helvetica', sans-serif;
  margin: 0px;
  background-color: rgb(240, 236, 236);
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

img.profile-img {
  padding: 20px;
  display: block;
  margin: 5px auto;
  border-radius: 130px;
}

p {
  margin: 3vh 3vw;
  color: rgb(54,69,79);
  font-size: 1.5em;
  text-align: center;
}

a {
  color: rgb(72,61,139);
}

ol {
  padding: 0;
  margin-bottom: 10%;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

li#lower {
  margin-top: 7%;
  text-align; center;
}

li#lowest {
  margin-bottom: 14%;
  text-align; right;
}


ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 0px;
  transition: 0.6s ease;
}

li:hover {
  font-size: 1.2em;
  transition: 0.6s ease;
}
