body {
  color: rgb(54,69,79);
  font-family: helvetica;
  margin: 0px;
  background-color: rgb(240,236,236)
}

h1, h2 {
  text-align: left;
  margin: 10px
}

h1 {
  font-size: 5em;
  color: rgb(66,245,152);
}

h2 {
  font-size: 2.5em;
}

img {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 130px;
}

p {
  font-size: 1.5em;
  text-align: left;
  margin: 20px;
}

.bdc {
  color: rgb(54,69,79);
  text-decoration: underline;
}

ol {
  list-style: none;
  padding: 0;
  font-size: 2.5vw;
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content:space-evenly;
  white-space: nowrap;
  text-align: center;
}

#top:hover {
  font-size: 2.1em;
  transition: 0.6s ease;
}

#middle:hover {
  font-size: 2.1em;
  transition: 0.6s ease;
}

#bottom:hover {
  font-size: 2.1em;
  transition: 0.6s ease;
}
